{{/*
  Tab Container Shortcode
  Usage:
  {{< tabs >}}
  {{< tab name="Bash" >}}code here{{< /tab >}}
  {{< tab name="Python" >}}code here{{< /tab >}}
  {{< /tabs >}}
  Creates accessible tabbed content
*/}}
<div class="tab-container" role="tablist" aria-label="Code examples">
  <div class="tab-buttons">
    {{ $inner := .Inner }}
    {{ range $index, $tab := .Scratch.Get "tabs" }}
    <button
      class="tab-button{{ if eq $index 0 }} active{{ end }}"
      role="tab"
      id="tab-{{ $tab.name | urlize }}-{{ $index }}"
      aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"
      aria-controls="tabpanel-{{ $tab.name | urlize }}-{{ $index }}"
      tabindex="{{ if eq $index 0 }}0{{ else }}-1{{ end }}"
    >
      {{ $tab.name }}
    </button>
    {{ end }}
  </div>
  <div class="tab-contents">
    {{ .Inner | safeHTML }}
  </div>
</div>
{{- /* Strip trailing newline */ -}}
